.card {
  border: 2px solid rgb(196, 196, 196);
  border-radius: 0.5rem;
  padding: 2rem;

  &__title {
    font-weight: 500;
    font-size: 2rem;
    margin: 0 0 0 0;
  }

  &__body {
    display: flex;
  }
}

.stargazers {
  display: flex;
  align-items: center;
  font-size: 1rem;
  &__img {
    width: 1.25em;
    height: 1.25em;
    background-image: url("../../assets/icons/star.webp");
    background-size: 100%;
  }
}
